body  {
    background-color: #f4abc4;
}
img{
    width: 20%;
    margin-left: 40%;
}
.loversName {
    margin-top: 50px;
    margin-left: 600px;
}

#love-title {
    padding-right: 320px;
    margin-left: 40%;
    margin-top: 8%;
    font-size: 3.5rem;
    font-family: 'Lovers Quarrel', cursive;
    
}

#footer {
    margin-left: 43%;
}

.made {
    margin-left: 5%;
}